* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box {
    width: 350px;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}
.title {
    color: rgb(17, 123, 223);
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    
}
.line {
    width: 23px;
    height: 3px;
    background-color: rgb(189, 192, 192);
    margin-top: 60px;
}
.paragraf {
    color: #aaa;
    font-weight: 400;
    font-size: 15px;
}